

<div id="content">
	<!---Begin Page Specific Content-->		
<h2 class="brdr-btm">New arrivals...</h2>
	<div class="collection">
		<% @new_products.each do |product|%>			
			<div class="product-name ">
				<%= link_to image_tag(product.picture.url,:size => "150x150"), product %>  
				<em><%=product.name %> </em>
				<strong><%=number_to_currency(product.sale_price)%></strong>
			</div>				
		<% end %>	
	</div>	
	<!---End Page Specific Content-->
</div>