<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @user.full_name %></h1>
    <ul>
      <li>
        <%=@product.name%> was added to your cart succesfully.
      </li>
    </ul>
    <small>myEcommerce Staff</small>      
  </body>
</html>