<div id="content">
		<!---Begin Page Specific Content-->
	<h2>My Cart</h2>
	<form id="cartform">

		<table>
			<tbody><tr>
				<th>Description</th>
				<th>Price Each</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>

			<%@items.each do |item| %>		
			<% product = Product.find(item.product_id)%>
			<tr>
				<td class="cart-details">					
					<span class="cart-image"><%=image_tag(product.picture, :size => "100x100")  %></span>
					<h3><%=product.name%></h3>					
				</td>
				<td class="cart-price"><%=number_to_currency(product.sale_price )%></td>
				<td class="updater act">
					<input type="text" class="field" name="updates[156205642]" id="updates_156205642" value="1" onfocus="this.select();">
					<input type="hidden" name="id" value="156205642">
					<input type="submit" name="update" value="Update" class="alt-cta"> or 
					<a href="/cart/change/156205642?quantity=0" class="remove alt-cta">remove</a>
				</td>
				<td class="total"><%=number_to_currency(item.total_price)%></td>
			</tr>
			<%end %>			
			</tbody>
		</table>

		<div id="checkout">
				<h3>Total: <span>$265.00 USD</span><span class="checkout-meta">excluding tax &amp; shipping</span></h3>
				<p class="act">
					<input type="button" id="getout" name="checkout" class="cta" value="Proceed to Checkout">
				</p>			
		</div>

	</form>		
		
		<!---End Page Specific Content-->
</div>