<div id="footer">
		<div class="contact">
			<h2>Contact Information</h2>
			<ul>
				<li>My eCommerce</li>
				<li>
					Phone: <span>3017174143</span>
				</li>
				<li>
					Email: <a href="mailto:edyhack@gmail.com">edyhack@gmail.com</a> 
				</li>
				<li>
					Twitter: <a href="http://www.twitter.com/edymerchk">edymerchk</a>
				</li>
				<li>
					Facebook: <a href="http://facebook.com/edymerchj">Edymerchk</a>
				</li>
			</ul>
		</div>	
		<div class="payment-methods">
			<h2>Payment Methods</h2>
			<ul>
				<li><img src="http://cdn.shopify.com/s/files/1/0108/3862/t/4/assets/icon-paypal.png?0" alt="Paypal"></li>
				<li><img src="http://cdn.shopify.com/s/files/1/0108/3862/t/4/assets/icon-visa.png?0" alt="Paypal"></li>
				<li><img src="http://cdn.shopify.com/s/files/1/0108/3862/t/4/assets/icon-amex.png?0" alt="Paypal"></li>
				<li><img src="http://cdn.shopify.com/s/files/1/0108/3862/t/4/assets/icon-mastercard.png?0" alt="Paypal"></li>
				<li><img src="http://cdn.shopify.com/s/files/1/0108/3862/t/4/assets/icon-discover.png?0" alt="Paypal"></li>
			</ul>
		</div>
		<div class="useful-links">
			<h2>Useful Links</h2>
			<ul>				
				<li><a href="/search">Search</a></li>				
				<li><%= link_to "About Us", about_path %></a></li>   
					
			</ul>
		</div>
		<div>
			<h2>Store Description</h2>
			<p>This project is about to write very basic eCommerce site and get used various parts of a rails stack.</p>
		</div>
		<div class="sub-floor">
			<p class="copyright">© My eCommerce by Edymerchk, All Rights Reserved...</p>			
		</div>
	</div>